#projectsBody {
  height: 82vh;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-outline.png");

  background-color: #6818a5;
}
.projectHeading {
  padding: 20px;
  color: #ffd000;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  font-family: "Titillium Web", serif;
  text-transform: capitalize;
}
.projectHeading p {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Poppins", serif;
  font-weight: 600;
  text-transform: capitalize;
}
.projecShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 10px;
  gap: 5rem;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 30%;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: border 0.3s ease, transform 0.3s ease;
  border: 5px solid transparent;
}
.card:hover {
  transform: scale(1.05);
}
.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 25px;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400%;
  z-index: -1;
  animation: borderAnimation 3s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover::before {
  opacity: 1; /* Show animated border on hover */
}
@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cardsDetail {
  height: 48vh;
  width: 98%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 0.6px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.projectImge {
  height: 200px;
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.projectImge img {
  border-radius: 6px;
}
.projectName {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.projectdetail {
  text-align: start;
  font-weight: 400;
}

.cardsDetail:hover {
  border: none;
}
.knowMore {
  color: white;
  padding: 5px;
  font-family: "Poppins", serif;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #ffd000;
  border-radius: 6px;
}
.knowMore:hover {
  background-color: white;
  color: #ffd000;

  border: 1px solid #ffd000;
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  #projectsBody {
    height: 100vh;
  }
  .projecShow {
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px 10px;
  }
  .card {
    padding: 10px;
    height: 38vh;
    width: 60%;
  }
  .cardsDetail {
    height: 35vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .projectdetail {
    font-size: 10px;
    text-align: start;
  }
  .projectHeading {
    font-size: 30px;
  }
  .projectHeading p {
    font-size: 0.75rem;
    text-align: center;
  }
}
